{% extends base_template %}
{% load i18n %}
{% load staticfiles %}
{% load announcements_tags %}

{% block title %}{% endblock title %}
{% block home_active %}active{% endblock home_active %}

{% block analytics %}{% include 'central/web_analytics.html' %}{% endblock analytics %}

{% block super-content %}
    <div class="row-fluid quotes-container">
        {% announcements as announcements_list %}
        {% if announcements_list %}
            <div id="announcements">
                {% for announcement in announcements_list %}
                    <div class="alert alert-info">
                        <div class="max-width-container">
                            <div id="announcement-text-container">
                                <p>{{ announcement.content|safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% endif %}

        <div class="row-fluid">
            <div class="span12">
                <div class="ka-quote">
                    <div class="max-width-container">
                        <h3>Welcome to the <strong>Hub</strong></h3>
                        {% if not user.is_authenticated %}
                            <form class="form-inline" method="post" action="{% url auth_login %}">
                                {% csrf_token %}
                                <input id="id_username" type="text" name="username" placeholder="education@4all.org" maxlength="75">
                                <input type="password" name="password" placeholder="********" id="id_password">
                                <input type="hidden" name="{{ redirect.name }}" value="{{ redirect.url }}" />
                                <input type="hidden" name="prev" value="{{ prev }}" />
                                <input type="submit" class="button" value="{% trans 'Log in' %}" />
                            </form>
                            <p>
                                Login to <strong><em>view synced usage data from your offline deployments</em></strong>.</br><small>You can also <a href="{% url registration_register %}">sign up</a> if you don't have an account, or <a href="{% url auth_password_reset %}">reset your password</a>.</small>
                            </p>
                        {% else %}
                            <p>
                                You are currently logged in.
                            </p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row-fluid" id="about-hub">
        <div class="max-width-container">
            <div class="span12">
                <h1>
                    <a href="https://learningequality.org/ka-lite">
                        <button class="button" id="ridiculously-enticing-button">
                            Learn More About KA Lite
                        </button>
                    </a>
                </h1>
            </div>
        </div>
    </div>

    <div class="row-fluid" id="learn-more">
        <div class="max-width-container">
            <div class="span12">
                <h1>
                    <a href="https://learningequality.org/ka-lite">
                        <button class="button" id="ridiculously-enticing-button">
                            Learn More About KA Lite
                        </button>
                    </a>
                </h1>
            </div>
        </div>
    </div>

    <div class="row-fluid footer">
        <div class="max-width-container">


           <div class="row-fluid footer__second-part">

                <div class="span6">
                    {% block attribution %}{{ block.super }}
                    {% endblock attribution %}
                </div>
                <div class="span6">
                   <ul class="list-icons">
                <li>
                    <a href="https://www.facebook.com/kaliteproject" class="icon">circlefacebook</a>
                </li>
                <li>
                    <a href="https://twitter.com/ka_lite" class="icon">circletwitterbird</a>
                </li>
            </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock super-content %}
