{% extends base_template %}
{% load i18n %}
{% load staticfiles %}
{% load announcements_tags %}

{% block title %}{% endblock title %}
{% block home_active %}active{% endblock home_active %}

{% block analytics %}{% include 'central/web_analytics.html' %}{% endblock analytics %}

{% block super-content %}
    <div class="row-fluid quotes-container">
        {% announcements as announcements_list %}
        {% if announcements_list %}
            <div id="announcements">
                {% for announcement in announcements_list %}
                    <div class="alert alert-info">
                        <div class="max-width-container">
                            <div id="announcement-text-container">
                                <p>{{ announcement.content|safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% endif %}

    </div>

    <div class="row-fluid" id="about-hub">
        <hr style="margin-bottom:60px;">
        <div class="max-width-container">
            <div class="span12">
                <h1>
                    Your deployments &amp; your data, at your fingertips.
                </h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'images/multiple-server2.png' %}">  
                </div>
                <p></p>
                <div class="col-md-6" id="data-hub-info">
                    <h2>With the <a href="http://learningequality.org/ka-lite/">KA Lite</a> Hub, you <strike>can</strike> could:</h2>
                    <ul>
                        <li><i class="glyphicon glyphicon-check"></i>&nbsp;Manage organizations, sharing networks, facilities, and devices.</li>
                        <li><i class="glyphicon glyphicon-check"></i>&nbsp;Review usage and engagement data from your deployments.</li>
                        <li><i class="glyphicon glyphicon-check"></i>&nbsp;Manage user accounts and sync your changes.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock super-content %}
