{% extends base_template %}
{% load i18n %}
{% load staticfiles %}
{% load announcements_tags %}

{% block title %}{% endblock title %}
{% block home_active %}active{% endblock home_active %}

{% block analytics %}{% include 'central/web_analytics.html' %}{% endblock analytics %}

{% block super-content %}
    <div class="row-fluid quotes-container">
        {% announcements as announcements_list %}
        {% if announcements_list %}
            <div id="announcements">
                {% for announcement in announcements_list %}
                    <div class="alert alert-info">
                        <div class="max-width-container">
                            <div id="announcement-text-container">
                                <p>{{ announcement.content|safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% endif %}

        <div class="row-fluid">
            <div class="span12">
                <div class="ka-quote">
                    <div class="max-width-container">
                        <h3>Welcome to the KA Lite Central Server!</h3>
                        <p>
                            <a href="{% url auth_login %}">Login</a>, or <a href="{% url registration_register %}">sign up</a> to <strong><em>view synced usage data from your offline deployments</em></strong>. 
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid call-out">
            <div class="max-width-container">
                <div class="span12">
                    <h3>Not what you're looking for?</h3>
                    <p>KA Lite is an offline, lightweight version of Khan Academy.</p>
                    <p>
                        <a href="http://learningequality.org/ka-lite/">
                            <button class="button">Learn More</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row-fluid features">
            <div class="max-width-container">

                <div class="span4">
                    <h4>Contribute to the Project</h4>
                    <img class="img-polaroid" src="{% static 'images/contribute.jpg' %}">
                    <p>
                        From coders and philanthropists, to translators and evangelists, everyone can help!
                    </p>
                </div>

                <div class="span4">
                    <h4>Download KA Lite</h4>
                    <img class="img-polaroid" src="{% static 'images/deployment.jpg' %}">
                    <p>
                        Ready to download and deploy KA Lite in your community? Find out how to get started!
                    </p>
                </div>

                <div class="span4">
                    <h4>Get Support</h4>
                    <img class="img-polaroid" src="{% static 'images/support.jpg' %}">
                    <p>If you're interested in deploying KA Lite, find out what resources are at your disposal.</p>
                </div>
            </div>
        </div>

        <!-- Button Row -->
        <div class="row-fluid features">
            <div class="max-width-container">

                <div class="span4">
                    <p>
                        <a href="http://learningequality.org/ka-lite#community">
                            <button class="button">Contribute to KA Lite</button>
                        </a>
                    </p>
                </div>

                <div class="span4">
                    <p>
                        <a href="http://learningequality.org/ka-lite#download">
                            <button class="button">Download KA Lite</button>
                        </a>
                    </p>
                </div>

                <div class="span4">
                    <p>
                        <a href="http://learningequality.org/ka-lite#support">
                            <button class="button">Get Support</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row-fluid footer">
        <div class="max-width-container">


           <div class="row-fluid footer__second-part">

                <div class="span6">
                    {% block attribution %}{{ block.super }}
                    {% endblock attribution %}
                </div>
                <div class="span6">
                   <ul class="list-icons">
                <li>
                    <a href="https://www.facebook.com/kaliteproject" class="icon">circlefacebook</a>
                </li>
                <li>
                    <a href="https://twitter.com/ka_lite" class="icon">circletwitterbird</a>
                </li>
            </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock super-content %}
