.project
.pydevproject
.DS_Store
*.db
*.sqlite*
*.patch
*.pid
*.prof
*.pyc
*~
*.sublime-*
*.zip
build/
locale/
node_modules/
tmp/
virtualenv/
writeup/
/_crowdin_cache
/_khanload_cache
/mergetomaster.sh
/run_command.*
/start.*
/stop.*
/centralserver/i18n/data/dubbed_video_mappings.json
/centralserver/kalite-*.zip
/centralserver/local_settings.py
/centralserver/media
/centralserver/static
/data/logs
/data/i18n
/data/subtitles
