.project
.pydevproject
.DS_Store
*.dat
*.db
*.sqlite*
*.patch
*.pid
*.prof
*.pyc
*~
*.sublime-*
*.zip
*.jsonp
build/
locale/
node_modules/
tmp/
virtualenv/
writeup/
/_crowdin_cache
/_khanload_cache
/mergetomaster.sh
/ka-lite-lang-pack-builder.sh
/run_command.*
/start.*
/stop.*
/centralserver/i18n/data/pot
/centralserver/i18n/data/dubbed_video_mappings.json
/centralserver/kalite-*.zip
/centralserver/local_settings.py
/centralserver/local_settings_secrets.py
/centralserver/media
/centralserver/static
/static-libraries/css
/data/content
/data/i18n
/data/logs
/data/subtitles
.vagrant/