{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign up" %}{{ block.super }}{% endblock %}

{% block signup_active %}
  active
{% endblock signup_active %}

{% block headcss %}
    <style>
        /* hackish way to show org details, if there are any errors or content */
        #org_details {
            display:none;
        } /* default: off */
    {% for prop in org_form %}
        {% comment "org.name is on the outside of the expanded form, so no need to expand" %}{% endcomment %}
        {% if not prop.name == "name" %}
            {% if prop.errors or prop.value %}
        #org_details {
            display:block;
        } /* dynamically override if we find an error */
            {% endif %}
        {% endif %}
    {% endfor %}
    </style>
{% endblock headcss %}

{% block content %}
<h1>Registration closed</h1>

<p>
    To register a device, please go back and use <strong>One-click registration</strong>.
</p>

<p>
    Basing new activities on synchronizing data to KA Lite's Central Server is
    discouraged, as Kolibri provides such features.
</p>

<p>
    Data from KA Lite's Central Server will be unavailable in early 2020, and
    synchronization between existing devices will likely stop working in 2021.
</p>

{% endblock %}

{% block content-related %}
{% endblock %}
