{% extends base_template %}
{% load i18n %}
{% load staticfiles %}
{% load my_filters %}
{% load gpsfrac2coord %}


{% block headcss %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/control_panel/base.css' %}" />
    <style>
    th {
        white-space: nowrap;
    }
    td {
        vertical-align: top;
    }
    </style>
{% endblock headcss %}

{% block content %}
        <div class="coaches" id="coaches">
            <div class="title-div">
                <span class="title" style="float: left">{% trans "Deployments" %}</span>
                <a title="{% trans 'Add a new deployment.' %}">
                    <span class="icon-add icon-medium">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </a>
            </div>
            <div>
                <span class="definition">
                    {% trans "Deployments are people who bring one or more copies of KA Lite to a school, community, or country in an organized effort." %}
                </span>
            </div>

            {% block coaches_table %}
                {# Action row, including pagination #}
                {% if pages.num_listed_pages > 1 %}
                <div class="pagination">
                        <a title="{% trans 'Browse to the previous page of deployments.' %}" {% if pages.has_previous %}href="{{ page_urls.prev_page }}"{% endif %}>&lt&lt</a>
                        {% for listed_page in pages.listed_pages %}
                            {% if listed_page == -1 %}
                                <span class="disabled">&hellip;</span>
                            {% elif listed_page == pages.number %}
                                <span class="current">
                                   {{ pages.number }}
                                </span>
                            {% else %}
                                <a title="{% blocktrans %}Browse to page # {{ listed_page }} of pages.{% endblocktrans %}" href="{{ page_urls|get_item:listed_page }}">{{ listed_page }}</a>
                            {% endif %}
                        {% endfor %}
                        <a title="{% trans 'Browse to the next page of deployments.' %}" {% if pages.has_next %}href="{{ page_url.next_page }}"{% endif %}>&gt&gt</a>
                </div>
                <div class="clear"></div>
                {% endif %}


                <table class="simple-table">
                {# Table header row #}
                    <thead>
                        <tr>
                            <th class="headrowuser">{% trans "Organization Name &amp; Contacts" %}</th>
                            <th class="headrowuser">{% trans "Facilities" %}</th>
                            <th class="headrowuser">{% trans "Devices &amp; Zones" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for deployment in pages %}
                        <tr value="{{ deployment.org_name }}">
                            <td>
                                {{ deployment.org_name }}
                                <ul>
                                {% for user in deployment.users.values %}
                                    <li>
                                        <a {% if deployment.owner == user.email %}style="font-weight: bold"{% endif %}title="{% blocktrans %}Email {{ deployment.org_name }}{% endblocktrans %}" href="mailto:{{ user.email }}">
                                            {{ user.first_name }} {{ user.last_name }} ({{ user.email }})
                                        </a>
                                    </li>
                                {% endfor %}
                                    <li>{{ deployment.total_users }} registered users</li>
                                    <li>{{ deployment.models_synced }} total models synced</li>
                                    <li>{{ deployment.sync_sessions }} total sync sessions</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                {% for facility in deployment.facilities.values %}
                                    <li>
                                        {{ facility.name }}
                                        <ul>
                                            <li># registered users: {{ facility.n_actual_users }}</li>
                                            {% if facility.user_count %}
                                            <li># anticipated users: {{ facility.user_count }}</li>
                                            {% endif %}
                                            {% if facility.address %}
                                            <li>
                                                {% if facility.latitude and facility.longitude and facility.address %}
                                                    <a href="https://www.google.com/maps/place/{% gpsfrac2coord lat=facility.latitude %}+{% gpsfrac2coord long=facility.longitude %}/{{ facility.latitude }},{{ facility.longitude }},6z">
                                                    {{ facility.address }}
                                                    </a>
                                                {% else %}
                                                    {{ facility.address }}
                                                {% endif %}
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                {% for device in deployment.devices.values %}
                                    <li>
                                        <a href="{% url 'zone_management' zone_id=device.zone_id %}">{{ device.zone_name }}</a>
                                        /
                                        <a href="{% url 'device_management' zone_id=device.zone_id device_id=device.id %}">{{ device.name }}</a>
                                        ({{ device.sync_sessions }} sessions
                                        {% if device.models_synced %}, {{ device.models_synced }} models{% endif %})
                                    </li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endblock %}
            </div>
            <div style="clear: both;"></div>


{% endblock content %}